/* PRODUCTO */
.producto-carrousel{
    max-height: 70vh;
}
.borderBottom{
    border-bottom: 1.5px solid rgba(44, 44, 44, 0.3);
}
.producto-carrousel .borderBottom{
    padding: 3% 0;
}
.producto-carrousel>div:first-of-type{
    margin: 3% 0 0 3%;
}
.producto-carrousel>div .artBox-prodCarrousel:last-of-type{
    display: none;
}
.artBox-prodCarrousel{
    min-width: 80vw;
    max-height: 40vh;
    margin-right: 3%;
    overflow-y: hidden;
}
.descripcion-seccion{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.descripcion-seccion>span{
    color: rgba(44, 44, 44, 0.8);
    font-size: 0.8em;
}
.descripcion-seccion>p{
    color: rgba(44, 44, 44, 0.7);
    font-size: 0.85em;
}
.descripcion-producto h1{
    margin-top: 1rem;
    margin-bottom: .5rem;
}
.descripcion-producto>p{
    font-size: 25px
}
.descripcion-producto>div:first-of-type{
    margin-top: 1.5rem
}
form div.opciones-producto>div{
    margin-bottom: 1.25rem;
    margin-top: .25rem;
}
.descripcion-producto label{
    margin-left: 2%;
}
.descripcion-producto form{
    margin: 2rem 0 3rem;
}

.producto-pagos{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1em;
    justify-content: space-evenly;
}
.opciones-producto div{
    display: flex;
    flex-direction: column;
    position: relative;
}
.opciones-producto select, .producto-cantidad{
    appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
    display: inline-block;
	cursor: pointer;
  	padding: 4% 6%;
    font-size: 16px;
	background-color: white;
	color: #999;
	border:1px solid rgba(44, 44, 44, 0.7);
    border-radius: 40px;
    position: relative;
}

.opciones-producto select::-ms-expand {
    display: none;
}

.opciones-producto i{
	position: absolute;
	right: 20px;
	top: calc(50% - .5em);
}

.producto-cantidad input{
    border: none;
    width: 100%;
    text-align: center;
    color:rgba(44, 44, 44, 0.7);
    font-size: 16px;
    padding: 0;
}
.producto-cantidad{
    width: 40%;
    display: flex;
    padding: 1%;
}
.producto-cantidad i{
    font-size: 2em; 
}
.btn-submit{
    background-color: #0D60F0;
    padding: 3% 8%;
    border-radius: 40px;
    margin: 1.5em auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: #fff;
    width: 261px;
    height: 55px;
    font-size: 12pt;
}
.btn-link-gen{
    background-color: #0D60F0;
    width: 60%;
    padding: 3% 8%;
    border-radius: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.btn-link-gen a{
    color: #fff;
}

.btn-link-gen a{
    color: #fff;
    font-weight: 400;
    font-size: 11pt;
}
.retiro-tienda p{
    font-size: 14px;
    line-height: 1.4em;
}
.retiro-tienda span{
    display: block;
    margin-top: .5rem;
}
.retiro-tienda span i{
    font-size: 20px;
}

/* carrito compras */
.carrito-compra{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #2c2c2c;
    padding: 5% 0;
}
.carrito-compra>div:first-of-type{
    width: 5rem;
    border-radius: 5px;
    overflow: hidden;
}
.carrito-compra h6{
    font-size: 1.1em;
}
#carrito-cantidad{
    width: 40%;
}
#carrito-cantidad i {
    font-size: 1.6em;
}
#carrito-cantidad input {
    font-size: 1.1em;
}
.fa-trash-can, .total{
    font-size: 1.2em;
}
.flex-column div:last-of-type{
    font-weight: 500;
}
.carrito-compra:last-of-type{
    border-bottom: 2.5px solid rgba(44, 44, 44, 0.8);
}

.imp{
    font-weight: bold;
}
/* CARRITO */
.cart-title{
    background-color: rgb(44, 44, 44, 0.8);
    color: rgba(255, 255, 255, 0.9);
    font-weight: lighter;
    padding: .4rem 0 .1em 7%;
}
.carrito-form input{
    border: none;
    border-bottom: 2px solid #2c2c2c8f;
    width: 100%;
    margin-bottom: 1.2em;
    padding: 2%;
    color:rgba(44, 44, 44, 0.8);
}
input[type=number]{
    appearance: textfield;
	-webkit-appearance: textfield;
	-moz-appearance: textfield
}
.seguir-compra{
    font-size: 10pt;
    text-align: center;
}
.seguir-compra p:hover{
    text-decoration: underline;
}