/* TABLET */
@media (min-width: 600px){

    /* FONTS */
    h1{
        font-size: 45px;
    }
    h2{
        /* text-align: center; */
        font-size: 40px;
    }
    h3{
        font-size: 30px;
    }
    h4{
        font-size: 25px;
    }
    h5{
        font-size: 20px;
        font-weight: 500;
    }
    h6{
        font-size: 16px;
    }
    
    .burguerMenu{
        display: none
    }
    header{
        /* padding:1rem 7%; */
        border:none;
        box-shadow: none;
        border-bottom: 1px solid rgb(44, 44, 44, 0.6)
    }
    .mainHeader .searchBox{
        order: 0;
        width: 45%;
        align-items: center;
        margin-top: 0;
    }
    .searchBox div{
        width: 100%;
    }
    .mainHeader{
        padding-bottom: 1.2em;
        /* border-bottom: 2px solid rgba(44, 44, 44, 0.7); */
        -webkit-box-shadow:0px 1.2px 1.2px rgba(44, 44, 44, 0.7);
        -moz-box-shadow:0px 1.2px 1.2px rgba(44, 44, 44, 0.7);
        box-shadow:0px 1.2px 1.2px rgba(44, 44, 44, 0.7);
    }
    #logo{
        margin-left: 7%;
        width: 15%;
    }
    .mainHeader .helpIcons{
        margin-right: 7%;
        width: 15%;
    }
    .helpIcons i{
        margin-bottom: .3rem;
    }
    .helpIcons a:first-child, .helpIcons a span{
        display: flex;
    }
    .helpIcons, #art-destacados-flex {
        justify-content: space-between;
    }
    .categorias{
        display: block;
        width: 70%;
        padding: 1rem 0 0;
        margin: 0 auto;
    }
    .categorias ul{
        display: flex;
        margin: 0;
        justify-content: space-between;
        align-items: center;
        font-size: 12pt;
    }
    .categorias ul li{
        width: 25%;
        line-height: 1.2em;
        text-align: center;
    }
    #categ-select{
        border: none;
        background: none;
    }
    .enviosycuotas{
        font-size: 12pt;
    }
    /* articulos y productos */
    .articulosDestacados:not(.prod-section){
        margin: 0 3% 3em;
    }
    .articulosDestacados>.flex-row>span{
        display: inline;
        font-size: 3em;
        color:rgba(44, 44, 44, 0.4);
    }
    #art-destacados-flex{
       width: 90%;
       margin-top: 1rem;
       /* margin: 0; */

    }
    .artBox:not(:last-of-type) {
        margin-right: 20px;
    }
    #art-destacados-flex .artBox{
        min-width: 25%;
    }
    .artBox p, #prodBox p{
        font-size: 11pt
    }
    /* Productos */
    #productos-flex{
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20pt;
        margin: 0 2%;
    }
    .novedades{
        display: flex;
        justify-content: space-around;
        border: none;
    }
    .novedades input{
        width: 40%;
        border-bottom: rgba(44, 44, 44, 0.7) solid 2px;
    }
    .producto-carrousel-tablet{
        margin: 1.5rem 5% 0 5%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    .producto-carrousel{
        width: 60%;
    }
    .producto-carrousel-tablet section:last-of-type{
        margin: 3rem 0 0;
        width: 40%;
    }
    .descripcion-producto h1{
        margin-top: 0;
        white-space: nowrap;
        overflow: scroll;
        text-overflow: ellipsis;
    }
    .artBox-prodCarrousel{
        min-width: fit-content;
        border-radius: 15px;
    }
    .producto-carrousel>div:first-of-type{
        display: grid;
        grid-template-columns: 4em 1fr;
        grid-template-rows: repeat(6, 4em);
        grid-gap: .4em;
    }
    .artBox-prodCarrousel:nth-of-type(1){
        grid-column-start: 2 ;
        grid-row-start: 1;
        grid-row-end: -1;
    } 
    .producto-carrousel>div:first-of-type{
        margin: 0
    }
    .producto-carrousel .borderBottom{
        display: none;
    }
    .producto-carrousel{
        overflow: hidden;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
    }
    .producto-carrousel>div .artBox-prodCarrousel:last-of-type{
        background-color: rgba(44, 44, 44, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(44, 44, 44, 0.6);
    }
    .producto-carrousel div .artBox-prodCarrousel .descuento-stamp{
        width: 4em;
        height: 4em;
        font-size: 10pt;
        left:calc(100% - 4em - 5%);
    }
    .descripcion-producto>p{
        font-size: 25px
    }
    .opc-pago p{
        font-size: 14px;
        white-space: nowrap;
    }
    .descripcion-producto>div:first-of-type{
        margin-top: .5rem
    }
    .descripcion-producto form{
        margin-top: .5rem
    }
    form .opciones-producto label{
        margin-bottom: 0.25rem
    }
    form .opciones-producto label:last-of-type, .opciones-producto{
        margin-top: .75rem;
    }
    .opciones-producto select{
        padding: 3% 6%;
        font-size: 14px;
    }
    .producto-carrousel .descripcion-seccion{
        margin: 0;
        padding-bottom: 1.5rem;
    }
    .descripcion-seccion p, .descripcion-seccion span{
        font-size: 1em ;
    }
    .opciones-producto>div{
        width: 80%
    }
    .producto-cantidad {
        width: 35%;
        height: 2em;
        padding: 1%
    }
    .producto-cantidad i{
        font-size: 1.5em;
    }
    .retiro-tienda{
        display:flex;
        flex-direction: row-reverse;
        margin-top:0;
        margin-bottom: 3rem;
    }
    .retiro-tienda div:first-of-type{
        width: 100%;
    }
    .retiro-tienda div:last-of-type{
        margin-top:0;
    }
    .articulosDestacados h2 {
        text-align: center;
    }
    .producto .articulosDestacados h2{
        text-align: left;
    }
    main.producto #art-destacados-flex{
        width: 100%;
    }

    /* BTN */
    .btn-submit, .btn-submit-gen{
        width: 257px;
        height: 44px;
    }
    /* footer */
    footer#buyers{
        min-height: 30vh;
        padding: 2em 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .buyers-footer{
        height: auto;
        width: 100%;
        flex-direction: row;
        font-size: 11pt;
    }
    /* CARRITO COMPRAS */
    .producto-cantidad{
        padding: 0
    }
    .carrito-compra>div:first-of-type{
        width: 6rem;
        height: 6em;
    }
    /* .carrito-compra>div:last-of-type{
        width: 80%;
    } */
    #carrito-cantidad{
        width: 20%;
    }
    #carrito-cantidad i{
        font-size: 1.5rem; 
    }
    #carrito-cantidad input{
        font-size: 15px;
        height: 100%;
        width: 35%;
    }
    .fa-trash-can{
        font-size: 1.5em;
    }
    .ms-auto>span{
        font-size: 1.2em;
    }
    .marco-externo{
        width: 80%;
        margin: 2em auto 3em;
        border: 1px solid rgba(44, 44, 44, 0.5);
    }
    .cart-title{
        margin-top: .5em
    }
    #compra-botones-tablet{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 1em;
    }
    .opciones-producto>div.mt-1{
        display: none;
    }
    #compra-botones-tablet button{
        margin: 0;
        padding: 0;
        font-size: 12px;
        width: 180px;
        height: 3em;
    }
    #compra-botones-tablet:last-of-type{
        width: 67%;
    }
    main.finalizar-compra .retiro-tienda{
        flex-direction: column;
    }
    main.finalizar-compra .retiro-tienda p{
        font-size: 16px;
    }
    body{
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: space-between;
    }
    .compra-exitosa{
        margin-bottom: auto;
        margin-top: 2em;
    }
    .compra-exitosa div.btn-link-gen{
        margin-left: 0;
        margin-top: 7rem;
    }
}