/* FONTS */
/* font-family: 'DM Sans', sans-serif; */
*{
    box-sizing: border-box;
}
body{
    margin:0;
    font-family: 'DM Sans', sans-serif;
    width: auto;
}

a{
    color: #2c2c2c;
    text-decoration: none;
}

ul{
    list-style-type: none;
    padding: 0
}
p{
    margin: 0
}
h1, h2, h3, h4{
    margin:0
}
/* MOBILE FIRST */

/* reusable variables */
.w-1{
    width:10%
}
.w-2{
    width:20%
}
.w-3{
    width:30%
}
.w-4{
    width:40%
}
.w-5{
    width:50%
}
.w-6{
    width:60%
}
.w-7{
    width:70%
}
.w-8{
    width:80%
}
.mb-3{
    margin-bottom: 30px;
}
.mb-0{
    margin-bottom: 0;
}
.mx-10{
    margin: 0 10%;
}
/* HEADER */
header{
    position:sticky;
    top: 0;
    background-color: white;
    height:12vh;
    z-index: 1;
}
.mainHeader{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    flex-wrap: wrap;
    margin-top: 10px
}
#logo{
    width: 30% 
}
.mainHeader>div{
    width: 20%;
    text-align: center;
}

.fa-solid:not(.fa-magnifying-glass){
    font-size: 1.5em;
    color: #2c2c2c;
}
.burguerMenu{
    display: flex;
    justify-content: center;
}

.helpIcons{
    display:flex;
    /* chequear */
    justify-content: center; 
    /* space-between para desktop */
    align-items: center; 
    height: 100%;
}
.helpIcons a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    /* height: 100%; */
}
.helpIcons a:first-child, .helpIcons a span, .categorias {
    display:none
}
.helpIcons a>span{
    font-size: 0.7em;
}

.mainHeader .searchBox{
    order:1;
    width: 100%;
    display: flex;
    justify-content: center;
}
.searchBox>div{
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.searchBox>div, main section:last-of-type{
    border-bottom: #2c2c2c solid 1px;
}

.searchBox>div>input, section>input{
    border: none;
    width: 100%;
}


/* BODY */
.enviosycuotas{
    background-color: rgb(50, 45, 45);
    color:white;
    padding: 0.6rem 0;
    text-align: center;
    font-size: 0.9em
}

/* IMAGE SET */
.banner{
    width: 100vw;
}
img{
    width:100%;
}

/* Articulos destacados */
.articulosDestacados{
    margin-top: 10%;
}
.articulosDestacados{
    margin-left: 10%;
}
.articulosDestacados>h2{
    margin-bottom: 10px;
}
#art-destacados-flex{
    display: flex;
    overflow: auto;
    margin-right: 5%;
}

#art-destacados-flex::-webkit-scrollbar-track {    
    display: none;
}

.artBox{
    border-radius: 20px;
    height: 25vh;
    min-width: 35vw;
    margin-left: 20px;
}
.artBox:first-child{
    margin-left:0;
}
.sin-descuento{
    text-decoration: line-through  1.5px;
}
.artBox p, #prodBox p{
    font-size: 9pt;
    text-align: center;
}
.artBox p:last-of-type, #prodBox p:last-of-type{
    font-size: 8pt;
}
.artBox .imagen, #prodBox .imagen{
    height: 60%;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
}

.artBox .descripcion, #prodBox .descripcion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 40%;
    border: 1px solid #2c2c2c;
    border-radius: 0 0 20px 20px;
}
.descripcion{
    padding:3%;
}
.imagen{
    position:relative
}
.descuento-stamp{
    position:absolute;
    background-color: #0D60F0;
    border-radius: 50%;
    padding: 10px 5px;
    top: 7%;
    left:65%;
    color: white;
    font-size: 8pt;
    text-align: center;
    width: 30%;
    line-height: 1em;
    font-weight:500
}



/* PRODUCTOS */
#productos-flex{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30pt;
}
#prodBox{
    margin-left: 0;
    border-radius: 20px;
    height: 25vh;
}

/* FOOTER */
footer{
    background-color: rgba(44, 44, 44, 0.2);
    padding: 7% 0;
    height: 50vh;
}

footer>div>section>h6{
    border-bottom: solid 1px #2c2c2c;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

footer>div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    font-size: 8pt;
}
footer section p{
    margin-bottom: .2rem
}
.fa-brands{
    font-size: 20pt
}
.footer-icons>i{
    margin-left: 10px;
}
