*{
    box-sizing: border-box;
}
img{
    width: 100%;
}
.mx-10{
    margin: 0 7%;
}
a{
    color:rgba(44, 44, 44, 0.8);
    text-decoration: none;
}
h1{
    font-weight: 500;
}
#sellers{
    height: 100vh;
}
.seller-body{
    margin: 1.5rem 7%;
}
.seller-body h1{
    width: 75%;
}
header{
    background-color: #fff;
    -webkit-box-shadow:0px 1px 1px rgba(44, 44, 44, 0.7);
    -moz-box-shadow:0px 1px 1px rgba(44, 44, 44, 0.7);
    box-shadow:0px 1px 1px rgba(44, 44, 44, 0.7);
    display: none;
}
.mainHeader{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 7%;
    border-bottom: 1px solid #2c2c2c;

}
#logo{
    width: 40%;
    margin: 0;
}
.burguerMenu{
    justify-content: flex-start;
}
.mainHeader>div{
    width: 20%;
    text-align: end;
}
main.mis-datos, main.categorias-seller, main.mi-tienda{
    margin-top: 1.5rem;
}
.user-icon a, .fa-google, .fa-facebook-square{
    font-size: 1.3em;
} 
main.mi-tienda, main.mis-datos, main.configuraciones{
    margin: 1.5rem 7% 2rem;
}
.sellers-footer{
    background-color: rgba(44, 44, 44, 0.6);
    text-align: center;
}
.sellers-footer p{
    color: rgba(255, 255, 255, 0.7);
    padding: 1.5em 1.5em 2em;
    font-size: 9pt;
}
.sellers-footer a{
    color: rgba(255, 255, 255, 0.9);
    font-weight: 600;
}

.img-bienvenida{
    width: 70%;
    margin: 0 auto;
}
.sellers-bienvenida-form label, h4, .mi-tienda label{
    font-weight: bold;
    /* color: rgba(44, 44, 44, 1); */
}
h4{
    margin-top: 3rem;
}
.sellers-bienvenida-form input:not(input[type=radio], input[type=file]){
    border: none;
    border-bottom: 2px solid #2c2c2c8f;
    padding: 1% 2%;
    color:rgba(44, 44, 44, 1);
}
div.opciones-producto, .mis-datos .opciones-producto>div:not(.opc-prod-exp), .sellers-bienvenida-form input:not(input[type=radio], input[type=file]){
    margin-bottom: 3rem;
    width: 100%;
}
.opc-prod-exp{
    margin-bottom: 1rem
}
/* .opc-prod-100 select{
    padding: 3% 4%;
} */
.required:hover{
    color:rgba(44, 44, 44, 0.4)
}

.required i{
    display: inline-block;
    position: absolute;
    width: 30%;
    background-color: rgba(44, 44, 44, 0.3);
    padding: .5em;
    text-align: justify;
    color: #fff;
    font-size: 9pt;
    margin-left: 3pt;
    border-radius: 3px;
}
.mi-tienda h4:not(:first-of-type), .mi-tienda h3:not(:first-of-type){
    margin: 2.5em 0 0.5em;
}
.opc-agregar-mas{
    margin-bottom: 0;
}
.carrito-form, .opt-right{
    margin-top: 1em;
}
.opt-box ul{
    margin-top: .8em;
}
.opt-box div label, .checkbox-opt span label{
    margin-left: .5em;
    color:rgba(44, 44, 44, 0.6)
}
/* font size 11pt */
.tooltipp i, .fa-download, .fa-upload, #file-input, .text-aclarativo, .tabla-ventas th, td{
    font-size: 11pt;
}
.tooltipp i, .fa-download, .fa-upload{
    position: relative;
    display: inline-block;
    opacity: none;
    color: #fff;
    border: #2c2c2c 1px solid;
    border-radius: 100%;
    background-color: #2c2c2c;
}
.fa-download, .fa-upload{
    padding: .5em;   
    background-color: rgba(44, 44, 44, 0.7); 
    border: none;
}
.tooltiptextt {
    visibility: hidden;
    width: 35%;
    background-color: rgba(44, 44, 44, 0.6);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    display: inline-block;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
/* Show the tooltip text when you mouse over the tooltip container */
.tooltipp:hover .tooltiptextt {
visibility: visible;
background-color: rgba(44, 44, 44, 0.4);
padding: .5em;
text-align: left;
color: #fff;
font-size: 9pt;
margin-left: 3pt;
border-radius: 3px;
}

.opt-box{
    margin-top: 2em;
}

label{
    font-weight: 500;
    font-size: 1em;
}

.btn-add,  td input, td select{
    background: none;
    border: none;
    font-weight: 500;
}
.sbt-file{
    /* background-color: yellow; */
    width: 100%;
    overflow: hidden;
    border: 1px dashed #2c2c2c;
    border-radius: 10px;
    margin-top: 1em;
    height: 15vh;
    /* padding: .6em; */
}
.sbt-file div p{
    /* float: right; */
    /* z-index: 1; */
    color: #2c2c2c8f;
    font-size:  11pt;
    font-weight: 400;
}
.sbt-file div{
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.fa-solid.fa-image{
    font-size: 1.8em;
    color: rgba(44, 44, 44, 0.4);
}
#file-input{
    color:rgba(44, 44, 44, 0.3);
    z-index: 1;
    position: absolute;
    width: 60%;
    height: 15vh;
    margin: 0 13%;
    /* background-color: rgba(255, 0, 0, 0.5); */
    border-radius: 10px;
    /* left: 7%; */
}
#file-input::file-selector-button{
    border: none;
    background: none;
    color: transparent;
    width: 100%;
    height: 11vh;
    display: block;
}

.sbt-file:hover{
    background-color: rgba(44, 44, 44, 0.1);
    border: 2px dashed rgba(44, 44, 44, 1);
    cursor: pointer;
} 
.opt-right{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 1em;
    grid-column-gap: 10%;
    /* width: 80%; */
    margin: 0 auto;
}
.opt-right label{
    margin-right: 2%;
}
.text-aclarativo{
    color:rgba(44, 44, 44, 0.6);
}
textarea{
    width: 100%;
    border-radius: 10px;
    border: 1px solid #2c2c2c
}
.fa-circle-question{
    font-size: 1em;
}
.checkbox-opt{
    display: grid;
    row-gap: .3em;
    width: 50%;
}
.checkbox-opt span{
    display: flex;
    align-items: center;
}
input[type=checkbox]{
    -webkit-appearance: none;
    background-color: #fff;
	border: 1px solid #2c2c2c;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 15%;
	display: inline-block;
	position: relative;
    /* border: 1px solid #2c2c2c;
    padding: .5em;
    border-radius: 15%; */
}

input[type=checkbox]:checked:after{
    content: ' ';
	width: 12px;
	height: 12px;
	border-radius: 15%;
	position: absolute;
	top: 3px;
	background: #99a1a7;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
	text-shadow: 0px;
	left: 3px;
	font-size: 32px;
}


input[type=checkbox]:active, input[type=checkbox]:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.input-inline div{
    display: grid;
    grid-template-columns: 20% 1fr;
    column-gap: 5%;
}
.input-inline div input, .input-css{
    border: none;
    width: 100%;
    color:rgba(44, 44, 44, 0.8);
}
.input-inline div input, td input, td select{
    border-bottom: 2px solid rgba(44, 44, 44, 0.7);
}
.input-css{
    color:#0D60F0
}
.categorias-seller>form>h2{
    margin: 0 0 1em;
}
.categorias-seller>form>h2:last-of-type{
    margin-top: 1.5em;
}
.download-box{
    align-items: flex-start;
}
.download-box span{
    width: 88%;
}
.download-box strong{
    display: block
}
main.ventas{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.searchBox-ventas div{
    padding: 0;
}
.tabla-ventas{
    overflow-x: scroll;
}
.tabla-ventas thead{
    background-color: rgba(44, 44, 44, 0.9);
    /* width: 100%; */
    color: #fff;
}
.tabla-ventas th, td{
    min-width: 35vw;
    font-weight: lighter;
}
tbody tr, thead tr{
    line-height: 1.2;
}
td, .tabla-ventas th{
    padding: 15px .5em;
}
td{
    overflow-wrap: break-word;
}
tr.gray{
    background-color: rgba(44, 44, 44, 0.1);
}
td:first-of-type, tr th:first-of-type{
    text-align: center;
    min-width: 12vw;
}
tbody tr:hover, tbody td:hover, tbody td:before{
    background-color: rgba(44, 44, 44, 0.2);
}
@media (min-width:600px){
    /* HEADER */
    header, .categorias{
        display: block;
        padding: 0;
    }
    main.categorias-seller{
        margin-bottom: auto
    }
    .mainHeader{
        box-shadow:none;
        position: relative;
    }
    .mainHeader div{
        text-align: center;
    }
    .categorias ul li{
        padding: 1rem 2pt;
        text-align: center;
    }
    .categorias li:hover{
        background-color: rgba(44, 44, 44, 0.1);
        /* font-size: 13pt; */
    }
    #logo{
        width: 20%;
    }
    .mi-posicion{
        border-bottom: 1px solid #2c2c2c;
        font-weight: bold;
    }
    .mainHeader>div:not(.logo), .mis-datos .opt-box div{
        width: 25%;
    }
    .burguerMenu{
        display: none;
    }
    .user-icon span.dis-none{
        display: inline-block;
    }
    .user-icon{
        display:flex;
        /* width: 40%; */
        justify-content: space-around;
    }
    .user-icon a{
        display: flex;
        flex-direction: column;
    }
    .user-icon i{
        font-size: 1em;
    }
    .user-icon span{
        font-size: .6em;
    }
    .seller-body h1{
        width: 100%;
    }
    main.seller-body>section{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-top: 2em;
    }
    .img-bienvenida{
        width: 45%;
        margin: auto;
    }
    form.sellers-bienvenida-form{
        width: 50%;
    }
    .seller-body{
        margin-bottom: auto;
        margin-top: 2em;
    }
    .btn-submit{
        height: auto;
        font-size: 11pt;
    }
    .marco-externo main.mx-10{
        margin: 0 10%;
    }
    .marco-externo>h1{
        padding-left: 10%;
    }
    .opciones-producto>div.mt-1 {
        display: flex;
    }
    form.sellers-bienvenida-form, .checkbox-opt, .opt-right, .opt-box>label, .novedades input{
        width: 100%;
    }
    .download-box span {
        width: 93%;
    }
    .opt-right {
        grid-template-columns: repeat(3,1fr);
    }
    section.opciones-producto>div{
        width: 90%;
    }
    .mis-datos .opciones-producto > div:not(.opc-prod-exp), .opc-prod-exp{
        margin-bottom: 0;
    }
    .opciones-producto, div.opciones-producto label{
        margin-top: 0;
    }
    section.opciones-producto{
        margin: 0 0 3rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    section.opciones-producto>label{
        margin-top: auto;
        margin-left: 5%;
    }
    section.opciones-producto>label:last-of-type{
        grid-column-start: 2;
        grid-row-start: 1;
        margin-top: auto;
    }
    section.opciones-producto i{
        top:25%;
        right: 10%;
    }
    .opt-box, .opt-box div{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .opt-box div{
        justify-content: flex-start;
    }
    .opc-prod-100 select{
        font-size: 15px;
    }
    /* MI TIENDA */
    .mi-tienda .opt-right{
        grid-column-gap: 8%;
    }
    .mi-tienda .flex-row{
        display: block;
    }
    .mi-tienda label{
        font-size: 16px;
    }
    /* COnfiguraciones */
    .checkbox-opt{
        grid-template-columns: repeat(3, 1fr);
    }
    .checkbox-opt h4{
        grid-column-start: 1;
        grid-column-end: -1;
    }
    .novedades{
        flex-direction: column;
    }
    .ventas-tablet{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .ventas-tablet .searchBox-ventas{
        width: 60%;
    }
    main.ventas{
        margin-bottom: auto;
    }
}

@media (min-width: 1024px){

}
